/Practica_3/nbproject/private/
/Practica3-JESÚS_VALIDO_ZAFRA/nbproject/private/
/Practica3-JESÚS_VALIDO_ZAFRA/build/
/MatisseCrear/nbproject/private/
/MatisseCrear/build/
/MatisseModifBorrar/nbproject/private/
/MatisseModifBorrar/build/
/Practica5/nbproject/private/
/Practica5/build/
/PROG05_Tarea/nbproject/private/
/PROG05_Tarea/build/
/PROG05_Tarea/dist/
/Clase_Vero_2SemanaFebrero/nbproject/private
/Clase_Vero_2SemanaFebrero/build