#Archivos comprimidos
*.rar
*.zip
#Archivos de texto
*.txt
#Archivos sql
*.sql

/Practica_3/nbproject/private/
/Practica3-JESÚS_VALIDO_ZAFRA/nbproject/private/
/Practica3-JESÚS_VALIDO_ZAFRA/build/
/MatisseCrear/nbproject/private/
/MatisseCrear/build/
/MatisseModifBorrar/nbproject/private/
/MatisseModifBorrar/build/
/Practica5/nbproject/private/
/Practica5/build/
/PROG05_Tarea/nbproject/private/
/PROG05_Tarea/build/
/PROG05_Tarea/dist/
/Clase_Vero_2SemanaFebrero/nbproject/private
/Clase_Vero_2SemanaFebrero/build
/LibreriaComponentes/nbproject/private/
/LibreriaComponentes/build/
/LibreriaComponentes/dist/
/PruebaTema6/nbproject/private/
/PruebaTema6/build/
/Tarea6_Vero/nbproject/private/
/Tarea6_Vero/build/
/PROG06_Tarea/nbproject/private/
/PROG06_Tarea/build/
/PruebaTema6/dist/
/ExamenT2/nbproject/private/
/LibreriaExamen/nbproject/private/
/LibreriaExamen1/nbproject/private/
/EjercicioExamenXML/nbproject/private/
/EjercicioExamenXML/build/
/ExplicacionVeroTarea7/nbproject/private/
/ExplicacionVeroTarea7/build/
/PROG07_Tarea/nbproject/private/
/PROG07_Tarea/build/